.benefits {
	margin-top: 100px;
	&_wrapper {
		max-width: clamp(16.625rem, 0.013rem + 83.06vw, 99.688rem);
	}

	&_title {
		display: flex;

		font-size: 34px;
		font-weight: 700;
	}
	&_cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		&_card {
			background-color: #fff;
			padding: 50px;
			border-radius: 10px;
		}
		&_number {
			margin-right: 30px;

			font-size: 50px;
			text-align: right;
			font-weight: 700;
		}
		&_text {
			margin-top: 30px;
		}

		&_name {
			font-size: 24px;
			text-align: left;
			font-weight: 700;
		}

		&_descr {
			text-align: left;
			color: #59595a;
		}
	}
}
