.header {
	&_box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 132px;
		border-bottom: 1px solid #f1f1f3;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		background-color: #fff;
	}

	&_left {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 14px;
	}

	&_right {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 14px;
		&_signup {
			display: flex;
			text-decoration: none;
			padding: 14px;
			color: #000;
			border-radius: 10px;
		}
		&_signup:hover {
			background-color: #f1f1f3;
		}
		&_signin {
			display: flex;
			text-decoration: none;
			color: #fff;
			background-color: #ff9500;

			border-radius: 10px;
			width: 100px;
			height: 45px;
			align-items: center;
			justify-content: center;
		}
	}
	&_logo {
		width: 50px;
		height: 50px;
	}
	&_menu {
		display: flex;

		align-items: center;

		&_link {
			display: flex;
			text-decoration: none;
			align-items: center;
			justify-content: center;
			color: #000;
			width: 100px;
			height: 45px;
		}
		&_link {
			display: flex;
			text-decoration: none;
			align-items: center;
			justify-content: center;
			color: #000;
			width: 100px;
			height: 45px;
			border-radius: 10px;
		}
		&_link:hover {
			background-color: #f7f7f8;
		}
		&_link:active {
			background-color: #f1f1f3;
		}
	}
}
