.testimonials {
	&_box {
		padding-top: 100px;
	}
	&_title {
		padding-bottom: 30px;
		font-size: 34px;
		font-weight: 700;
	}
	&_info {
		display: flex;
		justify-content: space-between;
		gap: 300px;
		padding-bottom: 50px;
	}
	&_subtitle {
		padding-bottom: 20px;
		font-size: 20px;
		color: #59595a;
	}
	&_viewAll {
		&_btn {
			display: flex;
			background-color: #fff;
			color: black;
			padding: 10px;
			border-radius: 10px;
			font-weight: 550;
			border: none;
			white-space: nowrap;
			cursor: pointer;
		}
	}
	&_cards {
		display: grid;
		width: 1200px;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		&_card {
			display: flex;

			gap: 25px;
			flex-direction: column;

			padding: 40px;
			border-radius: 10px;
			background-color: #fff;
			&_text {
				display: flex;
				text-align: left;
				font-size: 16px;
				font-weight: 500;
				border-bottom: 1px solid #f1f1f3;
				padding-bottom: 40px;

				color: #59595a;
			}
			&_info {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 200px;
			}
			&_user {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 10px;
			}

			&_name {
				font-weight: 600;
			}
			&_btn {
				display: flex;
				font-weight: 600;
				padding: 20px;
				border-radius: 10px;
				background-color: #f1f1f3;
				color: black;
			}
		}
	}
}
