.aboutCourses {
	&_box {
		display: flex;
		justify-content: space-between;
		gap: 100px;
		padding-bottom: 50px;
		border-bottom: 1px solid #e3e3e7;
	}
	&_title {
		display: flex;
		max-width: 800px;
		font-size: 34px;
		font-weight: 700;
	}
	&_text {
		display: flex;
		max-width: 600px;
		padding-bottom: 20px;
		font-size: 20px;
		color: #59595a;
	}
}
