.aboutBlock {
	margin-top: 100px;
	border-bottom: 1px solid #e3e3e7;
	&_wrapper {
		display: flex;
		justify-content: space-between;
		gap: clamp(1.063rem, -0.824rem + 9.43vw, 6.25rem);
		padding-bottom: 50px;
	}
	&_title {
		display: flex;

		align-items: center;
		font-size: 34px;
		font-weight: 700;
	}
	&_text {
		max-width: 750px;

		font-size: 20px;
		color: #59595a;
	}
}
