@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
	background-color: #f1f1f3;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	height: 100dvh;
}
