@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
	background-color: #f1f1f3;
	font-family: 'Roboto', sans-serif;
}

:root {
	--color: #f1f1f3;
	--padding: 18px 24px;
}

a {
	text-decoration: none;
}
/* max-width: clamp(16.625rem, 0.013rem + 83.06vw, 99.688rem); */
/* padding: 18px 24px; */

.container {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}
