.ourCurses {
	margin-top: 100px;
	&_wrapper {
		max-width: clamp(16.625rem, 0.013rem + 83.06vw, 99.688rem);
	}
	&_title {
		font-size: 34px;
		font-weight: 700;
	}
	&_info {
		display: flex;
		justify-content: space-between;
		gap: 300px;

		&_txt {
			font-size: 20px;
			color: #59595a;
		}
		&_btn {
			display: flex;
			background-color: #fff;
			color: black;
			padding: var(--padding);
			border-radius: 10px;
			font-weight: 550;
			border: none;
			white-space: nowrap;
			cursor: pointer;
		}
	}
	&_items {
		margin-top: 80px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		&_card {
			display: flex;
			gap: 25px;
			flex-direction: column;
			align-items: center;
			padding: 50px;
			border-radius: 10px;
			background-color: #fff;
		}
		&_img {
			width: clamp(7.125rem, 0.05rem + 35.38vw, 42.5rem);
			height: clamp(3.938rem, -0.025rem + 19.81vw, 23.75rem);

			border-radius: 10px;
		}
		&_beginning {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: clamp(7.125rem, 0.05rem + 35.38vw, 42.5rem);
			// gap: clamp(3.375rem, 0.05rem + 16.63vw, 20rem);
		}
		&_experience {
			display: flex;
			justify-content: space-between;
			gap: 10px;
			align-items: center;
		}

		&_level {
			padding: 10px;
			border-radius: 10px;
			background-color: var(--color);
			color: #59595a;
		}
		&_teacher {
			font-weight: 550;
		}

		&_info {
			display: flex;
			padding: 20px;
			flex-direction: column;
			gap: 14px;
		}
		&_title {
			font-size: 20px;
			font-weight: 700;
		}

		&_descr {
			font-size: 16px;
			font-weight: 500;
			color: #59595a;
			text-align: left;
		}
		&_btn {
			display: flex;
			background-color: var(--color);
			color: black;
			padding: var(--padding);
			border-radius: 10px;
			font-weight: 550;
			border: none;

			justify-content: center;
			cursor: pointer;
			width: clamp(7.125rem, 0.05rem + 35.38vw, 42.5rem);
		}
	}
}
